body{
    background-color: rgb(9, 73, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
#Container{
    display: grid;
    width: 600px;
    height: 700px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:"display display display display"
    "Delete Delete Clear divide"
    "seven eight nine x"
    "four five six minus"
    "one two three addi"
    "zeroo zeroo equals equals";
}
h1{
    color: aliceblue;
    text-shadow: 10px 5px 5px rgb(2, 2, 2);
}
.conitem{
    border: 1px solid rgb(221, 109, 109);
    padding-top: 40px;
    text-align: center;
    color: rgb(250, 250, 250);
    border-radius: 15px;
    box-shadow:10px 5px 5px rgb(70, 61, 61);
}
.conitem.Display{
    grid-area: display;
}
.conitem.AC{
    grid-area: AC;
}
.conitem.Delete{
    grid-area: Delete;
}
.conitem.Clear{
    grid-area: Clear;
}
.conitem.divide{
    grid-area: divide;
}
.conitem.seven{
    grid-area: seven;
}
.conitem.eight{
    grid-area: eight;
}
.conitem.nine{
    grid-area: nine;
}
.conitem.x{
    grid-area: x;
}
.conitem.four{
    grid-area: four;
}
.conitem.five{
    grid-area: five;
}
.conitem.six{
    grid-area: six;
}
.conitem.minus{
    grid-area: minus;
}
.conitem.one{
    grid-area: one;
}
.conitem.two{
    grid-area: two;
}
.conitem.three{
    grid-area: three;
}
.conitem.addi{
    grid-area: addi;
}
.conitem.zeroo{
    grid-area: zeroo;
}
.conitem.decimall{
    grid-area: decimall;
}
.conitem.equals{
    grid-area: equals;
}